/* Her har vi styles til vores computer version */
/* ------------------------------------------------------------- */

$computer: "screen and (min-width: 1100px)";
@media #{$computer} {
  .centered {
    font-size: 35px;
  }
  .headbanner{
    height: 600px!important;
  }
}