/* Her har vi styles til vores computer version */
/* ------------------------------------------------------------- */

$computer: "screen and (min-width: 1100px)";
@media #{$computer} {
  .centered {
    font-size: 25px;
  }

  .headbanner{
    height: 650px!important;
  }

  .headbannertext{
    font-family: 'Lato', sans-serif;
    position: absolute;
    font-size: 50px;
    top: 5%;
    left: 5%;
    padding: 10px;
    background: #E7910C;
    color: white;
  }

  .headbannerundertext{
    font-family: 'Lato', sans-serif;
    position: absolute;
    font-size: 35px;
    top: 22%;
    left: 5%;
    padding: 5px;
    background: #E7910C;
    color: white;
  }

  .gradient-orange{
    background: linear-gradient(to bottom, #F08E00, #58B9B8);
    border-radius: 20px;
    font-size: 25px;
  }

  .headline{
    font-size: 35px!important;
  }

  .text-info{
    font-size: 50px!important;
  }

  .underheadline{
    font-size: 25px!important;
  }

  .logo{
    width: 80px!important;
    height: 80px!important;
  }

  .icon{
    width: 50px!important;
    height: 50px!important;
  }

  /* Festivalen */

  .banner{
    height: 100%!important;
  }

}
