/* Her har vi styles til vores grundlæggende setup og mobil */
/* ------------------------------------------------------------- */


* { /* Gælder alt på hele siden */
	box-sizing: border-box; /* Bokse har altid den størrelse man giver uanset om der tilføjes margen, padding mv. */
}

/* Ovenstående kode kan give problemer ved nogle 3. parts scripts man henter. Men det gør det nemmere at forstå og lave kodning når man starter. */

body {
	margin: 0; /* Ingen kanter i siden af browser */
}

h1, h2, h3, h4, h5, h6 {
	margin: 0; /* Ingen ydre margen fra overskrifter */
	padding: 0; /* Ingen indre margen fra overskrifter */
}

ul, ol {
	margin: 2px 10px 2px 10px; /* Mindre margen på punkter */
	padding: 0; /* Ingen indre margen fra lister */
	list-style-position: inside; /* List punkter står på linje */
}

li {
	margin: 0; /* Ingen ydre margen fra listpunkter */
}

p {
	margin: 0; /* Ingen ydre margen fra paragraffer */
	padding: 0; /* Ingen indre margen fra paragraffer */
}

/* Sikrer billeder er responsive */
img {
	display: block; /* Billeder er et element (laver linjeskift) */
	max-width: 100%; /* Bredde må maks fylde 100% */
	height: auto;
}

.headerlogo{
	width: 100px!important;
	height: 100px!important;
}

.logo{
	width: 65px!important;
	height: 65px!important;
}

.nav-item{
	font-size: 25px;
}

.headbanner{
	width: 100%;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

button {
	text-decoration: inherit;
	font-size: 1rem;
	padding: 1rem 2rem;
}

.border-gradient {
	border: 5px solid;
	border-image-slice: 1;
}
.border-gradient-orange {
	border-image-source: linear-gradient(to left, #58B9B8, #F08E00);
}

/* Centered text */
.centered {
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 5px;
	font-size: 10px;
	padding: 3px;
}

.gradient-orange{
	background: linear-gradient(to bottom, #F08E00, #58B9B8);
	border-radius: 5px;
	font-size: 10px;
}

.headline{
	font-size: 25px;
}

.underheadline{
	font-size: 15px!important;
}

h3{
	text-decoration: underline!important;
}

.icon{
	width: 35px!important;
	height: 35px!important;
}

/* Festivalen */

.program{
	font-size: 16px!important;
}

.banner{
	height: 100px!important;
}

.info{
	width: 200px!important;
	height: 200px!important;
}

h4{
	color: #E7910C!important;
}

/* Kontakt */

iframe{
	width: auto !important;
}

.besked{
	height: 150px!important;
}