/* Her har vi styles til vores tablet version */
/* ------------------------------------------------------------- */

$tablet: "screen and (min-width: 768px)";
@media #{$tablet} {
  .centered {
    font-size: 20px;
  }

  .program{
    font-size: 35px!important;
    color: #E7910C!important;
  }


  .headbannertext{
    font-family: 'Lato', sans-serif;
    position: absolute;
    font-size: 50px;
    top: 5%;
    left: 5%;
    padding: 15px;
    background: #E7910C;
    color: white;
  }

  .headbannerundertext{
    font-family: 'Lato', sans-serif;
    position: absolute;
    font-size: 35px;
    top: 28%;
    left: 5%;
    padding: 5px;
    background: #E7910C;
    color: white;
    max-width: 600px;
  }

  .download{
    font-size: 20px!important;
  }

  /* Festivalen */

  .banner{
    height: 100%!important;
  }

  .pdf{
    font-size: 35px!important;
  }


  /* Kontakt */

  iframe{
    width: 100% !important;
  }

}