/* Her har vi styles til vores tablet version */
/* ------------------------------------------------------------- */

$tablet: "screen and (min-width: 768px)";
@media #{$tablet} {
  .centered {
    font-size: 25px;
  }

  .program{
    font-size: 25px!important;
  }

  .download{
    font-size: 20px!important;
  }

  /* Festivalen */

  .banner{
    height: 100%!important;
  }

  .text-info{
    font-size: 40px!important;
  }

  .pdf{
    font-size: 25px!important;
  }

}